.pageTitle{
  color:#1d252d;
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
  margin-top:0;
  margin-bottom: 30px;
}

.flex {
  display:grid;
  grid-template-columns: minmax(260px, 1fr) 4fr;
  column-gap:20px;
}

.flex .content{
  padding-left: 20px;
}

.contentWrapperVideo{
  display:flex;
  column-gap:20px;
  row-gap:20px;
  margin-bottom:30px;
}


.contentWrapper{
  display:flex;
  column-gap:20px;
  row-gap:20px;
  margin-bottom:30px;
}

.contentWrapper .imgItem{
  width:calc(100% / 3);
}

.contentWrapper .boxTitle{
  color: #fff;
  background-color: #6b93d6;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 15px;
  font-size: 13px;
  margin: 0;
  text-align:center;
}

.contentWrapper .videoItem{
  width:calc(100% / 2);
}

/* .contentWrapper .videoItem .boxTitle{
  color: #5e6b79;
  background-color: #fff;
  font-size: 13px;
  margin:15px 0 0 0;
  cursor:pointer;
} */

.contentWrapper .item{
  width:100%;
  display:block;
  font-size:12px;
  font-weight:500;
  border-radius:6px;
  overflow:hidden;
  background:#fff;
}

.contentWrapper .item .boxTitle .lesson {
  font-size:12px;
}

.contentWrapper .item .boxTitle .name {
  font-size:14px;
  font-weight:700;
} 


.contentWrapperVideo .item {
  width:100%;
  display:block;
  font-size:12px;
  font-weight:500;
  border-radius:6px;
  overflow:hidden;
  background:#fff;
  padding:20px;
}

.contentWrapper .item img, .contentWrapperVideo .item img{
  cursor:pointer;
  width: 100%;
  height: 300px;
  object-fit: contain;
  object-position: top;
}

.active{
  color:red;
}

.text{
  font-size:16px;
  margin:30px 0;
}

.package{
  width: 100%;
  height: 300px;
  font-size: 20px;
  color: #fff;
  background: #6b93d6;
  display: flex;
  align-items: center;
  justify-content: center;
}