@import url('./fonts.css');


body {
  background: #fafafc;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size:12px;
}
a {
  color: #333;
  text-decoration: none;
}
.content {
  max-width: 1170px;
  margin: 0 auto;
}
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-right: 12px;
}
nav a:last-child{
  margin-right:0;
}
nav .logo {
  margin-right: auto;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}


/* 

.flex {
  display:grid;
  grid-template-columns: minmax(260px, 1fr) 4fr;
  column-gap:20px;
}

.flex .content{
  padding-left: 20px;
}

.flex .content .contentWrapperVideo{
  display:grid;
  grid-template-columns: repeat(2 , 1fr);
  column-gap:20px;
  row-gap:20px;
}


.flex .content .contentWrapper{
  display:grid;
  grid-template-columns: repeat(3 , 1fr);
  column-gap:20px;
  row-gap:20px;
}

.flex .content .item{
  width:100%;
  display:block;
  font-size:12px;
  font-weight:500;
  border-radius:6px;
  overflow:hidden;
  background:#fff;
}

.flex .content .item img{
  cursor:pointer;
  width: 100%;
  min-width:271px;
  height: 300px;
  object-fit: contain;
  object-position: top;
} */


.not-found{
  text-align:center;
}

.not-found a{
  color: #4979ff;
  text-decoration:underline;
}

.box-title{
  color: #fff;
  background-color: #6b93d6;
  border-radius:6px;
  padding: 15px;
  font-size: 13px;
  margin: 0;
  text-align:center;
}

.box-title .lesson {
  font-size:12px;
}

.box-title .name {
  font-size:14px;
  font-weight:700;
} 


/* .plyr__menu{
  display:none!important;
}

.plyr__volume input[type=range]{
  display:none!important;
}

.plyr__volume{
  max-width: initial;
  min-width: initial;
  width: initial;
}

.plyr [data-plyr=fullscreen], .plyr [data-plyr=pip], .plyr__controls:empty {
  display: none!important;
} */