
.overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background: rgba(0, 0, 0, 0.6);
  animation:fadein .3s;
}

.modal{
  max-width: calc(100vw / 2);
  position:fixed;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  color:rgb(16, 16, 16);
  
}

.modal .body{
  border-radius:5px;
  overflow:hidden;
  background:#fff;
  animation:fadeinup .3s;
}

.modal img{
  object-fit: cover;
  width: 100%;
}

.modal .close{
  width: 30px;
  height: 30px;
  color: white;
  top: 0;
  right: -50px;
  position: absolute;
  cursor:pointer;
  /* animation:fadeinup .3s; */
}

@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

@keyframes fadeinup {
	from {
		transform: translateY(34px);
	}
	to {
		transform: translateY(0);
	}
}